################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Traffic_Award/.vs/Traffic_Award/v15
